html,
body {
    scroll-behavior: smooth;
}

@font-face {
    font-family: frontage-outline;
    src: url('../fonts/Frontage-Outline.otf');
}

h1,
h2,
h3,
h4,
h4,
h5,
h6,
a,
p,
footer {
    font-family: "Montserrat", sans-serif !important;
    color: #333;
}


.sample-header {
    overflow: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-image: url("../images/header.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 4;
    animation-fill-mode: forwards;
    animation-delay: 3000ms;
    animation-duration: 1000ms;
    animation-name: scale-in;
    animation-timing-function: ease-out;
    transform: scale(1.2);
}

@keyframes scale-in {
    from {
        transform: scale(1.2);
    }

    to {
        transform: scale(1);
    }
}

.blur-bg {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url("../images/header-blur.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0;
}

.sample-header-section {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    position: relative;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    color: #fcfcfc;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}

.sample-header-section #call-to-action {
    height: 45px;
    width: 45px;
    border: 1px solid #f2f2f2;
    border-radius: 50%;
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    transition: all 300ms ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.sample-header-section #call-to-action:hover {
    transform: scale(1.2);
}

.sample-header-section #call-to-action:active {
    transform: scale(0.5);
    background: #fff;
}

.sample-header-section #call-to-action:hover .dot {
    transform: scale(0.9);
}

.sample-header-section #call-to-action .dot {
    height: 5px;
    width: 5px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    transition: all 300ms ease-in-out;
}

.sample-header-section h1 {
    font-size: 60px;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
    padding: 10px;
    position: relative;
    top: 120px;
    color: #fcfcfc;
    letter-spacing: 2px;
}

#header-text span {
    font-weight: bold;
    position: relative;
    left: 18px;
}

#header-text strong {
    font-family: frontage-outline;
    font-size: 80px;
}

.header-slide-up {
    animation-fill-mode: forwards;
    animation-delay: 4000ms;
    animation-duration: 500ms;
    animation-name: slide-up;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    opacity: 0;
}

@keyframes slide-up {
    from {
        top: 30vh;
        opacity: 0;
    }

    to {
        top: 120px;
        opacity: 1;
    }
}


.sample-section-wrap {
    position: relative;
    background-color: #fff;
    z-index: 3;
}

.sample-section {
    position: relative;
    margin-top: 100vh;
    padding-top: 10vh;
}

#loader {
    background: #1A1A1A;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 15;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-fill-mode: forwards;
    animation-delay: 3000ms;
    animation-duration: 500ms;
    animation-name: fade-out;
    animation-timing-function: ease-out;
}

#loader img#loading-gif {
    animation-fill-mode: forwards;
    animation-delay: 3000ms;
    animation-duration: 500ms;
    animation-name: scale-out;
    animation-timing-function: ease-out;
}

@keyframes scale-out {
    from {
        transform: scale(1);
        opacity: 1;
    }

    to {
        transform: scale(3);
        opacity: 0;
    }
}

@keyframes fade-out {
    from {
        transform: scale(1);
        opacity: 1;
    }

    to {
        transform: scale(3);
        opacity: 0;
    }
}


nav {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    /* required */
    z-index: 10;
    padding: 25px 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url('../images/nav-bg.png');
    background-repeat: repeat-x;
    background-size: contain;
}

nav .top {
    transition: all 500ms ease-in-out;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px solid #fcfcfc;
}

nav .top ul {
    list-style-type: none;
    display: inline-block;
    margin: 0;
    padding: 0;
}

nav .top ul li {
    padding: 0 15px;
    display: inline-block;
}

nav .top ul li a {
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FCFCFC;
    pointer-events: auto;
    cursor: pointer;
    transition: opacity 0.2s ease-out;
    opacity: 1;
    position: relative;
    font-size: 13px;
    text-decoration: none;
}

nav .bottom {
    transition: .45s ease-in-out;
    position: sticky;
    padding-top: 10px;
    border: none;
}

nav .bottom img {
    padding-right: 15px;
    box-sizing: content-box;
    border-right: 1px solid #fcfcfc;
}

.disappear {
    position: absolute;
    top: -200px;
}

.nav-bg {
    content: '';
    position: absolute;
    display: block;
    top: -100%;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: #1a1a1a;
    transition: .45s ease-in-out;
}

.bg-hidden {
    background-image: url('../images/nav-bg.png');
    background-repeat: repeat-x;
    background-size: contain;
}

.bg-visible {
    background: none;
}

#logo {
    display: block;
    position: relative;
    top: 0;
    z-index: 9999999 !important;
    transition: .45s ease-in-out;
}

@media only screen and (max-width: 600px) {
    nav .top ul {
        display: none;
    }

    .sample-section {
        margin-top: 100vh;
    }

    .sample-header-section {
        height: 100vh;
    }

    .sample-header-section #call-to-action {
        bottom: 80px;
    }

    .sample-header-section h1 {
        font-size: 37px;
        text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
        padding: 10px;
        position: relative;
        top: 30px;
        color: #fcfcfc;
        letter-spacing: 2px;
    }

    #header-text strong {
        font-family: frontage-outline;
        font-size: 50px;
    }

    .header-slide-up {
        animation-fill-mode: forwards;
        animation-delay: 4000ms;
        animation-duration: 500ms;
        animation-name: slide-up;
        animation-timing-function: ease-in-out;
        animation-iteration-count: 1;
        opacity: 0;
    }

    @keyframes slide-up {
        from {
            top: 30vh;
            opacity: 0;
        }

        to {
            top: 40px;
            opacity: 1;
        }
    }
}

/* Hover Link CSS */
.hoverEffect {
    font-size: 2em;
    font-weight: 600;
    color: #fcfcfc;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    position: relative;
    display: inline-block;
    padding: 8px 0;
    transition: all 0.4s ease-in-out;
}

.hoverEffect:after,
.hoverEffect:before {
    content: "";
    height: 2px;
    background-color: #fcfcfc;
    background-color: transparent;
    position: absolute;
    display: block;
    width: 10%;
    transition: all 0.6s ease-in-out;
}

.hoverEffect:before {
    top: 0;
    right: 0;
}

.hoverEffect:after {
    bottom: 0;
    left: 0;
}

.hoverEffect:hover:after,
.hoverEffect:hover:before {
    background-color: #fcfcfc;
    width: 100%;
}

/* Effect 2 */
.hoverEffect.effect2:before,
.hoverEffect.effect2:after {
    right: 0;
    left: 0;
    margin: 0 auto;
}

.paragraph {
    opacity: 0;
    -webkit-transform: translateX(-40px);
    -moz-transform: translateX(-40px);
    -ms-transform: translateX(-40px);
    -o-transform: translateX(-40px);
    transform: translateX(-40px);
    -webkit-transition: all 0.6s ease-out;
    -moz-transition: all 0.6s ease-out;
    -ms-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
}

.paragraph {
    font-weight: 400 !important;
    font-size: 15px;
}

.paragraph.visible {
    opacity: 1;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
}

footer {
    /* background: #333; */
    width: 100%;
    text-align: center;
    margin-top: 150px;
}

.copyright-wrap {
    position: relative;
    float: left;
    color: #333;
    height: 80px;
    box-sizing: border-box;
    pointer-events: initial;
    transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

.copyright-wrap:hover {
    transform: translateY(-50px);
    -webkit-transform: translateY(-50px);
}

.copyright-text {
    float: left;
    font-size: 15px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    line-height: 40px;
}

.copyright-icon {
    float: left;
    width: 30px;
    height: 40px;
    font-size: 15px;
    line-height: 40px;
    text-align: left;
    margin-right: 0px;
    transform: scale(1);
    transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

.copyright-icon i {
    font-size: 14px;
}

.copyright-wrap:hover .copyright-icon {
    transform: scale(0);
    width: 0;
    margin: 0;
    overflow: hidden;

}

.copyright-icon:after,
.copyright-text:after {
    content: "";
    clear: both;
    display: table;
}

.copyright {
    height: auto;
    line-height: 30px;
    position: relative;
    width: auto;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
    bottom: 0;
    display: table;
}

.copyright-wrap .copyright {
    display: inline-block;
    width: 100%;
    text-align: left;
}

.copyright p {
    color: #333;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 0;
    line-height: 30px;
    box-sizing: border-box;
    padding-top: 5px;
    position: relative;
    height: 40px;
    float: left;
    z-index: 2;
    -webkit-transition: background 0.4s ease-in-out 0s;
    transition: background 0.4s ease-in-out 0s;
}

.copyright p a {
    color: #333;
    font-weight: bold;
}

.light-content .copyright p {
    color: #333;
}

.copyright-wrap .copyright p {
    opacity: 0;
    transform: translateY(10px);
    -webkit-transform: translateY(10px);
    transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

.copyright-wrap:hover .copyright p {
    transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0.1s;
    opacity: 1;
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
}

.socials-wrap {
    position: relative;
    float: right;
    color: #333;
    height: 80px;
    box-sizing: border-box;
    pointer-events: initial;
    transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

.light-content .socials-wrap {
    color: #333;
}

footer .socials-wrap {
    margin-top: 0px;
}

.socials-wrap:hover {
    transform: translateY(-50px);
    -webkit-transform: translateY(-50px);
}

.socials-text {
    float: right;
    font-size: 15px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    line-height: 40px;
}

.socials-icon {
    float: right;
    width: 30px;
    height: 40px;
    font-size: 14px;
    line-height: 40px;
    text-align: right;
    margin-left: 10px;
    transform: scale(1);
    transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

.socials-wrap:hover .socials-icon {
    transform: scale(0);
    width: 0;
    margin: 0;
    overflow: hidden;

}

.socials-icon:after,
.socials-text:after {
    content: "";
    clear: both;
    display: table;
}

.socials {
    height: auto;
    line-height: 30px;
    position: relative;
    width: auto;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
    bottom: 0;
    display: table;
    transform: translateX(15px);
    -webkit-transform: translateX(15px);
}

.socials-wrap .socials {
    display: inline-block;
    width: 100%;
    text-align: right;
}

.socials li {
    margin-right: 20px;
    margin-left: 0px;
    list-style: none;
    color: #333;
    font-size: 14px;
    margin-bottom: 0;
    line-height: 40px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    float: left;
    z-index: 2;
    -webkit-transition: background 0.4s ease-in-out 0s;
    transition: background 0.4s ease-in-out 0s;
}

.socials-wrap .socials li {
    opacity: 0;
    transform: translateY(10px);
    -webkit-transform: translateY(10px);
    transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

.socials-wrap:hover .socials li:nth-child(4) {
    transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0.1s;
    opacity: 1;
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
}

.socials-wrap:hover .socials li:nth-child(3) {
    transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0.15s;
    opacity: 1;
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
}

.socials-wrap:hover .socials li:nth-child(2) {
    transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0.2s;
    opacity: 1;
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
}

.socials-wrap:hover .socials li:nth-child(1) {
    transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0.3s;
    opacity: 1;
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
}

.socials li:last-child {
    margin-right: 0px;
}

.socials li a {
    color: #333;
    font-size: 12px;
    font-weight: 600;
    display: block;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    -webkit-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
}

.socials:hover li a {
    opacity: 0.3;
}

.socials li a:hover {
    color: #333;
    opacity: 1;
}

.light-content .socials li a {
    color: #333;
}

.light-content .socials:hover li a {
    opacity: 0.3;
}

.light-content .socials li a:hover {
    color: #333;
    opacity: 1;
}

.button-wrap {
    position: relative;
    float: left;
    cursor: pointer;
    left: -15px;
    pointer-events: initial;
}

.icon-wrap {
    width: 40px;
    height: 40px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    float: left;
}

.button-icon {
    height: 25px;
    width: 14px;
    color: #333;
    text-align: center;
    line-height: 22px;
    font-size: 22px;
}

.button-text {
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    line-height: 40px;
    margin-left: 20px;
    overflow: hidden;
    width: 70px;
    color: #333;
    text-align: left;
    float: left;
}

.button-text span {
    position: relative;
    display: inline-block;
    -webkit-transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
    width: 140px;
    transform-origin: 100% 0%;
}

.button-text span::before {
    position: absolute;
    width: 140px;
    top: 100%;
    left: 0;
    content: attr(data-hover);
}

.button-wrap:hover .button-text span {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    transform-origin: 0% 0%;
}